-SourceToolsList @("policheck","credscan")
-TsaInstanceURL https://devdiv.visualstudio.com/
-TsaProjectName DEVDIV
-TsaNotificationEmail joperezr@microsoft.com
-TsaCodebaseAdmin REDMOND\danmose
-TsaBugAreaPath "DevDiv\NET Runtime\Reliability\Docs"
-TsaIterationPath DevDiv
-TsaRepositoryName iot
-TsaCodebaseName iot
-TsaOnboard $True
-TsaPublish $True