# This is a basic workflow to help you get started with Actions

name: Arduino_Compiler_CI

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  pull_request:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest
    strategy:
        matrix:
            configuration: [Release]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout
        uses: actions/checkout@master
        
      - run: |
          eng/ArduinoCsCI.cmd %USERPROFILE% ${{ matrix.configuration }}


